name: polydash-etl

on:
  schedule:
    - cron: '0 */12 * * *'  
  workflow_dispatch:

jobs:
  ingest-data:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      
      - name: install dependencies
        run: uv sync
      
      - name: run data ingestion
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
        run: uv run python src/main.py